.highest__earnings__display-container {
  height: 100%;
  text-align: center;
  .highest__earnings__display__message {
    color: var(--text-on-gradient-color);
    font-weight: 500;
    font-family: var(--text-font);
    margin: 0;
  }
}
