.highest__earnings__display-container {
  height: 100%;
  .highest__earnings__display__message {
    color: white;
    font-weight: 500;
    font-family: "Source Serif Pro", serif;
    margin: 0;
  }
}
