<form
  [formGroup]="loginForm"
  (ngSubmit)="submitLogin()"
  class="form flexColumn"
>
  <mat-form-field>
    <mat-label>Enter your email</mat-label>
    <input
      matInput
      placeholder="mail@example.com"
      formControlName="email"
      required
    />
    <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
      Email is required
    </mat-error>
    <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
      Email format is invalid
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      [type]="loginPasswordsVisibility ? 'text' : 'password'"
      matInput
      formControlName="password"
      placeholder="PasswordExample1234!"
      required
    />
    <mat-icon
      mat-icon-button
      (click)="
        tooglePasswordVisibility('loginPassword', loginPasswordsVisibility)
      "
      class="visibility__toogle-icon"
    >
      {{ loginPasswordsVisibility ? "visibility_off" : "visibility" }}
    </mat-icon>
    <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
      Password is required
    </mat-error>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="loginForm.invalid"
  >
    Login
  </button>
</form>
