<form [formGroup]="addShiftForm" (ngSubmit)="addShift()" class="flexColumn">
  <mat-form-field class="form__field-wrapper">
    <mat-label>Shift slug:</mat-label>
    <input
      type="text"
      matInput
      placeholder="Enter your SLUG"
      value=""
      formControlName="shiftSlug"
    />
    <!-- <mat-error *ngIf="addShiftForm.get('shiftSlug')?.hasError('required')">
      SLUG IS required
    </mat-error>
    <mat-error
      *ngIf="
        !addShiftForm.get('shiftSlug')?.hasError('required') &&
        addShiftForm.get('shiftSlug')?.hasError('slugAlreadyInUse')
      "
    >
      SLUG IS ALREADY IN USE
    </mat-error> -->
  </mat-form-field>
  <br />
  <span>Date</span>
  <input type="date" formControlName="shiftDate" />
  <br />
  <span>Start Time</span>
  <input type="time" formControlName="shiftStartTime" />
  <br />
  <span>End Time</span>
  <input type="time" formControlName="shiftEndTime" />
  <br />
  <span>Wage/hour</span>
  <input type="text" formControlName="shiftWage" />
  <br />
  <span>Department</span>
  <select formControlName="shiftDepartment">
    <option value="HR">HR</option>
    <option value="ASSETS">ASSETS</option>
    <option value="DEV">DEV</option>
    <option value="PROD">PROD</option>
  </select>
  <br />
  <span>Comments</span>
  <textarea cols="30" rows="10" formControlName="shiftComments"></textarea>
  <br />

  <button type="submit">Add shift</button>
</form>
