.authentication__body {
  height: 100%;
  .authentication__card-wrapper {
    width: 50%;
    height: 95%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 25px;
    box-shadow: var(--box-shadow);
    position: relative;
    background-image: var(--background-image);

    .authentication__forms-container {
      height: 100%;

      .authentication__forms__header-container {
        height: 10%;
        padding: 0rem 5%;
        justify-content: space-between;
        .authentication__forms__headings {
          margin: 0.5rem 0rem;
          color: white;
        }
        .main-heading {
          letter-spacing: 2px;
          font-weight: 400;
        }
        .subheading {
          font-weight: 300;
          text-decoration: overline;
        }
      }

      .authentication__forms__controls-container {
        position: absolute;
        color: white;
        bottom: 1%;
        right: 1%;
      }
    }
  }

  .authentication__image-container {
    width: 50%;
    height: 100%;
  }
}
