.past__shifts__card-wrapper {
  height: 100%;
  cursor: default;
  .past__shifts__card__title-container {
    height: 10%;
    padding-top: 1rem;
    justify-content: flex-start;
    h1 {
      font-family: var(--text-font) !important;
    }
  }
  .past__shifts__table-container {
    height: 90%;
    .past__shifts__table__controls-container {
      padding-left: 4%;
      justify-content: flex-start;
      gap: 1rem;
      height: 10%;
      span {
        font-family: var(--text-font);
        letter-spacing: 1.5px;
        font-weight: 600;
      }
      input {
        font-family: var(--text-font);
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid black;
      }
    }
    .shifts__table-wrapper {
      height: 80%;
      overflow-y: scroll;
      border-radius: 15px;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      .past__shifts__table {
        th {
          color: var(--text-on-gradient-color);
          font-family: var(--text-font);
          font-weight: 600;
          background-image: var(--background-image);
          background-attachment: fixed;
        }
      }
    }
  }
}

@media only screen and (max-width: 770px) {
  .past__shifts__card-wrapper {
    .past__shifts__card__title-container {
      padding: 0rem;
      font-size: 1rem;
    }
  }
}
