<section class="most__shifts__card-container">
  <header class="most__shifts__card__title-container flexColumn">
    <h1 [innerHTML]="cardTitle" class="most__shifts__card-title"></h1>
    <p>Month Placeholder</p>
  </header>
  <div class="most__shifts__card__display-conatiner flexColumn">
    <div class="display-wrapper flexColumn">
      <h3 [innerHTML]="mostShiftsNumber" class="display__shifts__number"></h3>
      <p>Total shifts</p>
    </div>
  </div>
  <div class="most__shifts__card__info-container flexColumn">
    <p>Employee's fullname :</p>
    <p>Placeholder</p>
  </div>
</section>
