<form
  [formGroup]="resetPassForm"
  (ngSubmit)="resetFormSubmit()"
  class="form flexColumn"
>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      matInput
      placeholder="mail@example.com"
      formControlName="email"
      required
    />
    <mat-error *ngIf="resetPassForm.get('email')?.hasError('required')">
      Email is required
    </mat-error>
    <mat-error *ngIf="resetPassForm.get('email')?.hasError('email')">
      Email format is invalid
    </mat-error>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="resetPassForm.invalid"
  >
    Send email verification
  </button>
</form>
